<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddNews</title>
</head>
<body>

<form action="/news" method="POST">
    <div>
        <label>
            <span>Заголовок новости</span><br>
            <textarea name="title" cols="40" rows="1"></textarea>
        </label><br>
    </div>
    <div>
        <label>
            <span>Текст новости</span><br>
            <textarea name="text" cols="40" rows="5"></textarea>
        </label><br>
    </div>
    <div>
        <input type="submit" value="Add new order">
    </div>
</form>

</body>
</html>