<!DOCTYPE html>

<html lang="en">

<!--<script type="text/javascript">-->
    <!--fetch("/api/visits")-->
        <!--.then(response => response.json())-->
        <!--.then(visits => {-->
            <!--visits.forEach(visit => {-->
                <!--const el = document.createElement('li');-->
                <!--el.innerText = visit.description;-->

                <!--document.querySelector('#visits').append(el);-->
            <!--});-->
        <!--});-->
<!--</script>-->

<body>
<h1>Добро пожаловать, user</h1>
<a href="/news">Перейти к новостям</a>
<!--<ul id="visits">-->
<!--</ul>-->

</body>

</html>