<!DOCTYPE html>

<html lang="en">

<script type="text/javascript">
    fetch("/api/news")
        .then(response => response.json())
        .then(news => {
            news.forEach(item => {
                const el = document.createElement('tr');
                el.innerText = item.title;

                document.querySelector('#news').append(el);
            });
        });
</script>

<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
    <table id="news">
    </table>

    <a href="/addNews">Добавить Новости</a>

</body>
</html>